* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

h1 {
  color: #0066ff
}

h2 {
  color: #E4BB97;
}

ul {
  margin: 2 auto;
  padding: 2;

}




.html {
  display: inline-block;
  background-color: #05A8AA;
  padding: 10;
  width: 80%;


}

.css {
  display: inline-block;
  background-color: #74E2B3;
  padding: 10;
  width: 80%
}
