* {
  border: 0px solid rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: 'verdana', sans-serif;
  color: #74102E
}

h2 {
  font-family: 'verdana', sans-serif;
  color: #fff;
}

ul {
  margin: 2 auto;
  padding: 2;

}

.list {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10;
  width: 60%;
  margin: 8;
}


.html {
  display: inline-block;
  background-color: #3E8489;
  padding: 10;
  width: 70%;


}

.css {
  display: inline-block;
  background-color: #3E8964;
  padding: 10;
  width: 70%
}
