
h1 {
  font-family: 'verdana', sans-serif;
  color: #fff;
  padding-left: 30px;

}

h2 {
  font-family: 'verdana', sans-serif;
  color: #fff;
  padding-left: 20px;
  text-align: left;
  margin: 8;
}

h3 {
  font-family: 'verdana', sans-serif;
  color: #555;
  padding-left: 20px;
}

p {
  font-family: 'verdana', sans-serif;
}

ul {
  margin: 2 auto;
  padding: 30;
}
a {

  font-family: 'verdana', sans-serif;
  color: #2F6D6D;
  font-weight: bold;
  }
  h2:before {
    display: block;
    content: " ";
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
  }

.meny {

  display: inline-block;
  background-color: #000;
  width: 80%;
  min-height: 15%;
  max-height: 15%;

  position: fixed;
top: 0;


}

.list {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10;
  width: 80%;
  margin: 8;

}

.top {
  padding-top: 150px;
  display: inline-block;
}



.li{
  float: left;
  padding: 10px 5px;
}
.html {
  display: inline-block;
  background-color: #3E8489;
  padding-top: 200;
  width: 50%;



}

.css {
  display: inline-block;
  background-color: #3E8964;
  padding: 10;
  width: 50%

}
